* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(218, 210, 210);
}

.body-incontainer {
    min-height: 80vh;
    padding: 40px 20px;
    width: 960px;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 1;
    background-color: aqua;
}

.main {
    background-color: white;
    flex-grow: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 0.192);
    border-left: none;
    border-right: none;

    border-radius: 8px;
}

.form {
    box-sizing: content-box;
    padding: 12px;
    border: 2px solid rgba(155, 155, 155, 0.123);
    border-top: none;
    border-bottom: none;

    position: relative; 
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form:hover {
    transform: translateY(-5px);
    background-color: rgba(224, 224, 224, 0.151);
}

.table-fieldset {
    margin: 10px 0;
    width: 280px;
    padding: 6px;
    background-color: rgba(158, 158, 158, 0.288);
}

.attribute-fieldset {
    width: 280px;
    padding: 6px;
    background-color: rgba(241, 241, 241, 0.288);
}

.attribute-select {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.option {
    margin: 2px 4px;
    
}

.input-table-select {
    width: 100%;
    height: 2rem;
}


.get-data-btn {
    width: 100%;
    padding: 0 2px;
    margin: 10px auto;
}


.download-btn-container {
    width:  100%;
    background-color: rgba(170, 170, 170, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-data-btn {
    width: 100%;
    padding: 0, 10px;
}